extends ./_form

block append scripts
	script(src='/js/jquery.exif.js')
	script(src='/js/jquery.canvasResize.js')
	script.
		$(document).ready(function () {
			$('.cover').click(function () {
				$('#cover-artwork').click();
			});

			$('#cover-artwork').change(function(e) {
				var file = e.target.files[0];
				$.canvasResize(file, {
					width: 150,
					height: 0,
					crop: false,
					quality: 200,
					callback: function(data, width, height) {
						$('.cover').attr('src', data);
						$('#b64-cover').val(data);
					}
				});
			});
		});

block prepend form-for
	form(action="/records/edit/save", method="post")
		input(type="hidden", name="record.id", value=record.id)
		.row
			.col-lg-2
				input(id="b64-cover", name="record.artwork", type="hidden", value=record.cover)
				input.cover-upload(type="file", id="cover-artwork", accept="image/x-png, image/jpeg, image/gif")
				img.cover(src=record.cover, width="200")
			.col-lg-10
				.row
					.col-lg-6
						h4 #{__("records.name")}
						input.form-control(type='text', name="record.name", value=record.name)

					.col-lg-3
						h4 #{__("records.bands")}
						select.form-control(name="record.band")
							each band in rbands
								option(value=band.id, selected= band.id == record.band.id) !{ band.name }
					.col-lg-3
						h4 #{__("records.year")}
						input.form-control(type='number', name="record.year", value=record.year)
				.row
					.col-lg-6
						h4 #{__("records.label")}
						input.form-control(type='text', name="record.label", value=record.label)

					.col-lg-3
						h4 #{__("records.genres")}
						select.form-control(name="record.genre")
							each genre in rgenres
								if (record.genre)
									option(value=genre.id, selected= genre.id == record.genre.id)  !{ genre.name }
								else 
									option(value=genre.id)  !{ genre.name }
					.col-lg-3
						h4 #{__("records.number")}
						input.form-control(type='number', name="record.number", value=record.number)

		.row.last
			.col-lg-12
				button.pull-right.btn.btn-success(type='submit') #{__("system.edit")}