extends ../layout/layout

block content
	.container
		.row
			.col-xs-6
				h2 #{__("menu.records")}
			.col-xs-6.text-right
				h2
					a.btn.btn-success(href='/records/add') #{__("system.add")}
		.row
			form(action="/records/search", method="get")
				.col-lg-2
					h4 #{__("menu.bands")}
					select.form-control(disabled)
						option #{ __("system.all") }
						each band in rbands
							option(value=band.id) !{ band.name }
				.col-lg-2
					h4 #{__("menu.genres")}
					select.form-control(disabled)
						option #{ __("system.all") }
						each genre in rgenres
							option(value=genre.id) !{ genre.name }
				.col-lg-8
					h4 #{__("records.name")}
					.input-group
						input.form-control(type='text', name="record.name", disabled)
						span.input-group-btn
							button.disabled.btn.btn-info(type='submit') #{__("system.search")}
		.row
			.col-sm-12.record-list
				if records.length == 0
					p.text-center !{__("records.empty")}
				each record in records
					.col-xs-4.col-sm-2.record
						img.loading(data-src='/images/albumcover-placeholder.jpg', data-src-retina='/images/albumcover-placeholder.jpg', alt=record.name, title=record.name, width='200', height='200')
						.text-center.medium #{ record.name.substring(0, 20) }
						.text-center.small #{ record.band.name.substring(0, 20) }
						.text-center.small #{ record.year }

