extends ./layout/layout

block append styles
	link(rel='stylesheet', href='/css/index.css')

block content
	.container
		.jumbotron.index
			h1.lobster Studio Gonzagão
			p
				| #{ __("index.welcome") }
		.row
			.col-lg-4.center.heading
				img.loading.img-circle(data-src='/images/1.jpg', data-src-retina='/images/1.jpg',  alt='Vinyl Collection', width='140', height='140')
				h2 #{ __("index.featured1.heading") }
				p
				| #{ __("index.featured1.text") }
				p

			.col-lg-4.center.heading
				img.loading.img-circle(data-src='/images/2.jpg', data-src-retina='/images/2.jpg' alt='Vinyl Collection exposed', width='140', height='140')
				h2 #{ __("index.featured2.heading") }
				p
				| #{ __("index.featured2.text") }
				p

			.col-lg-4.center.heading
				img.loading.img-circle(data-src='/images/3.jpg', data-src-retina='/images/3.jpg', alt='Easy find out your records', width='140', height='140')
				h2 #{ __("index.featured3.heading") }
				p
				| #{ __("index.featured3.text") }
				p
