extends ./layout/layout

block append styles
	link(rel='stylesheet', href='/css/index.css')
	link(rel='stylesheet', href='/css/carousel.css')

block append scripts
	script.
		$(function () {
			var song;
			$('#helloween').hover(
			function () {
				if ($('audio').length) {
					startSong();
				} else {
					song = setTimeout(startSong, 5000)
				}
			},
			function () {
				clearTimeout(song);
				$('audio').trigger("pause");
			});

			function startSong() {
				if ($('audio').length) {
					$('audio').trigger("play");
				} else {
					var pumpkin = " " + String.fromCharCode(0xD83C, 0xDF83) + " ",
						newName = pumpkin + $('h1.lobster').text() + pumpkin;
					document.title = newName ;
					$('h1.lobster').text(newName);
					var music = new Date() % 2? '/music/iwantout.mp3' : '/music/littletime.mp3';
					$("<audio></audio>").attr({
						'src': music,
						'volume':0.4,
						'autoplay':'autoplay'
					}).hide().appendTo("body");
				}
				return true;
			}
		});

block content
	.container
		.jumbotron.index
			h1.lobster Studio Gonzagão
			p
				| #{ __("index.welcome") }
		.row
			.col-lg-4.center.heading
				img.loading.spin.img-circle(data-src='/images/vinyl.png', data-src-retina='/images/vinyl.png',  alt='Vinyl Collection', width='140', height='140')
				h2 #{ __("index.featured.vinyl.heading") }
				p
				| #{ __("index.featured.vinyl.text") }
				p
			.col-lg-4.center.heading
				img.loading.spin.img-circle(id="helloween",data-src='/images/special.png', data-src-retina='/images/special.png',  alt='Vinyl Collection', width='140', height='140')
				h2 #{ __("index.featured.special.heading") }
				p
				| #{ __("index.featured.special.text") }
				p
			.col-lg-4.center.heading
				img.loading.spin(data-src='/images/statistics.png', data-src-retina='/images/statistics.png',  alt='Vinyl Collection', width='140', height='140')
				h2 #{ __("index.featured.statistics.heading") }
				p
				| #{ __("index.featured.statistics.text") }
				p
		hr.featurette-divider
		.row.featurette.center
			.col-md-7
				h2.featurette-heading #{ __("index.featured1.heading") }
				p.lead #{ __("index.featured1.text") }

			.col-md-5
				img.loading(data-src='/images/1.jpg', data-src-retina='/images/1.jpg', alt='Easy find out your records', width='540')
		hr.featurette-divider
		.row.featurette.center
			.col-md-7.col-md-push-5
				h2.featurette-heading #{ __("index.featured2.heading") }
				p.lead #{ __("index.featured2.text") }
			.col-md-5.col-md-pull-7
				img.loading(data-src='/images/2.jpg', data-src-retina='/images/2.jpg', alt='Easy find out your records' )

		hr.featurette-divider
		.row.featurette.center
			.col-md-7
				h2.featurette-heading #{ __("index.featured3.heading") }
				p.lead #{ __("index.featured3.text") }

			.col-md-5
				img.loading(data-src='/images/3.jpg', data-src-retina='/images/3.jpg', alt='Easy find out your records' )
